<%- include('includes/header.ejs') %>

<%- include('includes/navigation.ejs')%>

<h1>Some error occurred!</h1>
<p>We are working on fixing this, sorry for the inconcenience!</p>

<%- include('includes/end.ejs') %>